<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8  text-center">
            <div class="card mb-5 mt-5" style="height: 400px;">
              <div class="card-header fw-bolder">خطای 404</div>
              <div class="mb-4 lead card-body rtl"><br><br><br><br>متاسفانه صفحه مورد نظر پیدا نشد !!</div>
              <div class="card-footer"><a href="/" class="btn btn-dark text-decoration-none text-white">بازگشت به خانه</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>