<div class="container py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom rtl">چرا کارین</h2>

  <div class="row row-cols-3 g-5 py-5">
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-muted flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#bootstrap"></use>
      </svg>
      <div>
        <h4 class="fw-bold mb-0 rtl">کاریابی</h4>
        <p class="rtl">
          به کمک کارین میتوانید شغل مرتبط با مهارت خود را پیدا .
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-muted flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#cpu-fill"></use>
      </svg>
      <div>
        <h4 class="fw-bold mb-0 rtl">دورکاری</h4>
        <p class="rtl">
          پروژه رو از کارفرما بگیر و از راه دور استارت بزن .
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-muted flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#calendar3"></use>
      </svg>
      <div>
        <h4 class="fw-bold mb-0 rtl">امن</h4>
        <p class="rtl">
          از اونجیی که پرداخت ها و پیش پرداخت توسط کارین انجام میشه نگران حق کارت نباش .
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-muted flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#home"></use>
      </svg>
      <div>
        <h4 class="fw-bold mb-0 rtl">سریع و با کیفیت</h4>
        <p class="rtl">
          با سیستم هوشمند کارین در کمترین زمان ممکن شغل مناسب با مهارت خودتو پیدا کن.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-muted flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#speedometer2"></use>
      </svg>
      <div>
        <h4 class="fw-bold mb-0 rtl">پرداخت به موقع</h4>
        <p class="rtl">
          با سیستم آنلاین پرداخت همون موقع پیش پرداخت و حق کار به حسابتا واریز میشه.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-muted flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#toggles2"></use>
      </svg>
      <div>
        <h4 class="fw-bold mb-0 rtl">همیشگی</h4>
        <p class="rtl">
          توی کارین برای همیشه کار داری و میتونی هر موقع خواستی پروژه بگیری .
        </p>
      </div>
    </div>
  </div>
</div>
