<% if (expired) { %>
  <main class="form-signin h-100 d-flex flex-column justify-content-center">

    <p class="align-self-center">لینک منقضی شده یا نامعتبر می باشد</p>

  </main>
  <% }else{ %>
    <main class="form-signin h-100">
      <img class="mb-4" src="/images/frontend/icon/logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal text-right">رمز عبور جدید خود را وارد نمایید</h1>

      <!-- Message -->
      <%- include('./partials/message') %>
        <!-- Message -->

        <form action="" method="POST">

          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="password">
            <label for="password">رمز عبور</label>
          </div>
          <div class="form-floating">
            <input type="password" name="repassword" class="form-control" id="repassword">
            <label for="repassword">تکرار رمز عبور</label>
          </div>
          <button type="submit" id="button" class="w-100 btn btn-lg btn-dark mt-3">ثبت</button>
        </form>
    </main>
   
    <% } %>