<main class="form-signin h-100">
  <img class="mb-4" src="/images/frontend/icon/logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal text-right">ایمیل خود را وارد نمایید</h1>

  <div class="form-floating">
    <input type="email" name="email" class="form-control" id="email">
    <label for="floatingInput">آدرس ایمیل</label>
  </div>

  <button type="button" id="button" class="w-100 btn btn-lg btn-dark mt-3" >ثبت</button>
  
</main>
<script src="/js/resetpassword.js"></script>
