
</style>
<div class="container py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom  text-right rtl">متقاضی ها</h2>

  <div class="row row-cols-xxl-3 g-5 py-5">
    <div class="col align-items-start" >
      <div class="card rounded-pill" style="height: 100px;" >
        <div class="card-body text-center rtl row-cols-3 d-flex flex-row justify-content-between"  style="padding: 0;">

          <div class="col-2 rounded-pill h-100 d-flex flex-column justify-content-center bg-danger" style="width: 100px;"><div>آواتار</div></div>
          <div class="col-8 h-100 d-flex flex-column justify-content-center" >
            <div class="card-body bg-danger"></div>
            <div class="card-body bg-primary"></div>
            <div class="card-body bg-secondary" ></div>
          </div>
          <div class="col-2 rounded-pill h-100 d-flex flex-column justify-content-center bg-danger"  style="width: 100px;"><div>مشاهده</div></div>

        </div>
      </div>
    </div>

  </div>
</div>
