<footer class="footer mt-auto bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>ثبت نام در خبرنامه ما</strong>
            </p>
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="subEmail" class="form-control" placeholder="آدرس ایمیل" required />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="button" id="subButton" class="btn btn-outline-light mb-4">
              پیوستن
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://127.0.0.1/">Amir.com</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="/js/popper.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newsletters.js"></script>
<script src="/js/livesearch.js"></script>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
  $('.carousel').carousel()})
</script>
</body>
</html>