<% if (message.length!=0) { %>
  <div class="container w-25 text-center">
    <div class="alert shadow <%- alert%> alert-dismissible text-right rtl" style="font-size: 14px;">
      
      <ul>
        <% message.forEach(item => { %>
        <li class="rtl" style="font-size: 12px;"><%= item %></li>
        <% }) %>

      </ul>
      </div>
</div>
<% } %>