
<!-- Message -->
<%- include('./frontend/partials/message') %>
<!-- /Message -->
<div class="container py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom  text-right rtl">چرا این جاب</h2>

  <div class="row  g-5 py-5">
    <div class="col d-flex align-items-start">
      
      <div class="card shadow-lg">
        <div class="fw-bold card-header text-right rtl">
          کاریابی
        </div>

        <div class="card-body text-right rtl">
            به کمک این حاب میتوانید شغل مرتبط با مهارت خود را پیدا .
        </div>
      </div>
    </div>


    <div class="col d-flex align-items-start">
      
      <div class="card shadow-lg">
        <div class="fw-bold card-header text-right rtl">
          دور کاری
        </div>

        <div class="card-body text-right rtl">
          ممکنه کارفرما درخواست پروژه بده پس پروژه رو از کارفرما بگیر و از راه دور استارت بزن .
        </div>
      </div>
    </div>


    <div class="col d-flex align-items-start">
      
      <div class="card shadow-lg">
        <div class="fw-bold card-header text-right rtl">
          امن
        </div>

        <div class="card-body text-right rtl">
          با توجه به قوانین این جاب تمامی شرکت ها موضف به رعایت قوانین هستند.
        </div>
      </div>
    </div>

  </div>
  <div class="row  g-5 py-5">
    <div class="col d-flex align-items-start">
      
      <div class="card shadow-lg">
        <div class="fw-bold card-header text-right rtl">
          سریع و باکیفیت
        </div>

        <div class="card-body text-right rtl">
          با سیستم هوشمند کارین در کمترین زمان شغل مناسب با مهارت خودتو پیدا کن.
        </div>
      </div>
    </div>

  
    <div class="col d-flex align-items-start">
      
      <div class="card shadow-lg">
        <div class="fw-bold card-header text-right rtl">
          ثبت درخواست
        </div>

        <div class="card-body text-right rtl">
          درخواست خودتو برای اگهی ثبت کن کارفرما خودش باهات تماس میگیره
        </div>
      </div>
    </div>


    <div class="col d-flex align-items-start">
      
      
      <div class="card shadow-lg">
        <div class="fw-bold card-header text-right rtl">
          همیشگی
        </div>

        <div class="card-body text-right rtl">
          توی این جاب همیشه میتونی آگهی رو ببینی و با توجه به مهارتت درخواست رو ثبت کنی
        </div>
      </div>
    </div>
  </div>
</div>
